{% extends "home/base.html" %}
{% load staticfiles %}

{% block body %}
<div class="section grey">
    <div class="container">
        <div class="card white">
            <div class="card-content black-text">
                <span class="card-title">Enter a word or a phrase below:</span>
                <br/><br/>
                <form method="post" action="{% url 'home:process_string' %}">
                    {% csrf_token %}
                    <div class="input-field col s6">
                        <input name="query" placeholder="Word or Phrase" id="textbox" type="text" class="validate">
                        <label for="in">Search Query</label>
                    </div>
                    <button class="btn waves-effect grey" type="submit" name="submit" id="form_submit" value="Execute">
                        go
                    </button>
                </form>
                <br/>
            </div>
        </div>
    </div>
</div>

{% if result %}


<script>
  function show_chart1(pi) {
    document.getElementById('df').innerHTML = document.getElementById(pi).innerHTML;
  }

</script>


<ul class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab"><span onclick="show('pi')">DataFrame</span></li>
    <li class="tab"><a class="active" href="#df" style="color: black">DataFrame</a></li>
    <li class="tab"><a href="#pi" style="color: black">PI Chart(Sentiment)</a></li>
    <li class="tab"><a href="#users" style="color: black">Users Sources</a></li>
</ul>

<div id="df" class="col s12">
    <section class="section white">

        <div class="card grey">
            <div class="card-content">
                <div class="white-text card-title">
                    Tweets DataFrame:
                </div>
                <div class="white-text">
                    {{result | safe}}
                </div>
            </div>
        </div>

    </section>
</div>

<div id="pi" class="col s12">
    <section class="section white">
        <div class="container">
            <div class="card grey">
                <div class="card-content">
                    <div class="white-text card-title">
                        PIE CHART
                    </div>
                    <div id="pie_chart">
                        {{ pie_chart | safe }}
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<div id="users" class="col s12">
    <section class="section white">
        <div class="container">
            <div class="card grey">
                <div class="card-content">
                    <div class="white-text card-title">
                        SOURCES OF TWEETS
                    </div>
                    <div id="source_chart">
                        {{ source_chart | safe }}
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

{% endif %}

{% endblock %}
